.sectionHome{
    height: 1080px;
}

.videoHome{
    position: absolute;
    top: 166px;
}

.divHome{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
}

