.logoTitulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 30px 0;
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #580ABE;
    text-shadow: 3px 2px 2px black;
}

h1 a{
    text-decoration: none;
}

h1 a:visited{
    color: #580ABE;
}

h1 a:hover{
    color: #730FF6;
    text-shadow: 4px 3px 3px black;
}


nav{
    background-color: #730FF6;
    padding: 15px 0;
}

header{
    background: rgb(115,15,246);
    background-image: url(../../../public/media/background/light/white-waves.png);
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #E4D0FF;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 3px 2px 2px black;
}

header nav ul li a:hover {
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.3s;
    text-shadow: 5px 3px 3px black;
}